<head>
    <link href="{{ STATIC_URL }}stylesheets/base.css" rel="stylesheet">

	<!-- Twitter Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- End Twitter Bootstrap CDN -->

	{% block header %}
	{% endblock %}
</head>

<body>
	<div class="container">
		<div id="header" class="row">
			<h1>{{ site_title }}</h1>
		</div>
		<!-- Navigation Bar -->
		<!-- Use container-fluid? -->
		<div id="nav-bar" class="row">
			<div class="col-md-3">
				<a href="{% url 'home' %}">
					Home
				</a>
			</div>
			<div class="col-md-3">
				<a href="{% url 'experience_index' %}">
					Experience
				</a>
			</div>
			<div class="col-md-3">
				<a href="{% url 'examples_index' %}">
					Work Examples
				</a>
			</div>
			<div class="col-md-3">
				<a href="{% url 'contact_index' %}">
					Contact
				</a>
			</div>
		</div>
		<!-- End Navigation Bar -->

{% block main %}
{% endblock %}
		</div>
	</div>
</body>

<footer>


	{% block footer %}
	{% endblock %}
</footer>