<head>
	<!-- Twitter Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- End Twitter Bootstrap CDN -->

	{% block header %}
	{% endblock %}
</head>

<body>
	<div class="container">
		<div class="row">
			<!-- Navigation Bar -->
			<!-- End Navigation Bar -->
		</div>
	</div>

	{% block main %}
	{% endblock %}
</body>

<footer>


	{% block footer %}
	{% endblock %}
</footer>